body{
    background-color: yellow;
}

div {
	font-size: 14px;
    padding:10px; 
    float:left; 
    width:45%; 
    margin-left:20px; 
    height: 45%; 
    margin:auto;
    margin-top: 20px;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover {
	color: tomato;
	text-decoration: underline;
}